.register__form
  margin-top: 2.2rem

.form
  display: grid
  justify-content: space-between
  grid-template-columns: 100%
  row-gap: .5rem

  @media only screen and (min-width: 500px)
    grid-template-columns: 73% 24.999%
    justify-content: space-between

.form__group input
  border: 1px solid $secondary-color
  border-radius: 2rem
  padding: .7rem 0
  padding-inline: 1.5rem 1rem
  transition: border .3s
  font-family: $font

  &::placeholder
    font-weight: lighter
    color: $gray

.form__input-status_error
  border: 1px solid $red-color !important

.form__input-status
  color: $red-color
  font-weight: lighter
  font-style: italic
  font-size: .65rem
  margin-left: 1.6rem
  transition: opacity .3s
  opacity: 0

.form__group button
  cursor: pointer
  background-color: $primary-color
  font-weight: 600
  text-align: center
  padding: .7rem 0
  border-radius: 2rem
  transition: filter .3s
  color: #fff

  &:hover
    filter: brightness(130%)

.form__image img
  vertical-align: top
  max-width: 100%
  margin-top: 3rem